@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');

@theme {
  --color-soviet-red: #D92B2B;
  --color-soviet-dark: #121212;
  --color-soviet-paper: #F2EFE9;
  --color-soviet-accent: #FFD700;
  
  --font-heading: 'Oswald', sans-serif;
  --font-serif: 'Playfair Display', serif;
  
  --image-noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

body {
  background-color: var(--color-soviet-paper);
  color: var(--color-soviet-dark);
  font-family: var(--font-heading);
  background-image: var(--image-noise);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-soviet-paper);
}
::-webkit-scrollbar-thumb {
  background: var(--color-soviet-red);
}